<div class="item poster card">
    <div class="image_content">
        <a id="movie_346364" class="result" href="https://www.themoviedb.org/movie/346364?language=en" title="It" alt="It">



            <img class="poster fade lazyautosizes lazyloaded" data-sizes="auto" data-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/9E2y5Q7WlCVNEhP5GiVTjhEhx1o.jpg" data-srcset="https://image.tmdb.org/t/p/w185_and_h278_bestv2/9E2y5Q7WlCVNEhP5GiVTjhEhx1o.jpg 1x, https://image.tmdb.org/t/p/w370_and_h556_bestv2/9E2y5Q7WlCVNEhP5GiVTjhEhx1o.jpg 2x"
                alt="It" sizes="185px" srcset="https://image.tmdb.org/t/p/w185_and_h278_bestv2/9E2y5Q7WlCVNEhP5GiVTjhEhx1o.jpg 1x, https://image.tmdb.org/t/p/w370_and_h556_bestv2/9E2y5Q7WlCVNEhP5GiVTjhEhx1o.jpg 2x" src="./Popular Movies — The Movie Database (TMDb)_files/9E2y5Q7WlCVNEhP5GiVTjhEhx1o.jpg">




            <div class="meta" data-role="tooltip">
                <span id="popularity_558e8490925141579e003923_value" class="hide popularity_rank_value">
            <div class="tooltip_popup popularity">
              <h3>Popularity Rank</h3>
              <p>Today: 1</p>
              <p>Last Week: 1</p>
            </div>
          </span>
                <span id="popularity_558e8490925141579e003923" class="glyphicons glyphicons-cardio x1 popularity_rank"></span>
                <span class="right">
            
          </span>
            </div>
        </a>
    </div>
    <div class="info">
        <p class="flex">
            <a id="movie_346364" class="title result" href="https://www.themoviedb.org/movie/346364?language=en" title="It" alt="It">Arrow</a>
            <span class="vote_average">7.2<span id="rating_558e8490925141579e003923" class="glyphicons glyphicons-star x1 rating movie"></span></span>
        </p>
        <p class="meta flex">
            <span class="release_date"><span class="glyphicons glyphicons-calendar x1"></span> 2017</span>
            <span class="genres">Drama, Fantasy, Horror, Thriller</span>
        </p>
        <p class="overview">In a small town in Maine, seven children known as The Losers Club come face to face with life problems, bullies and a monster that takes the shape of a clown called Pennywise.</p>
        <p class="view_more"><a id="movie_346364" class="result" href="https://www.themoviedb.org/movie/346364?language=en" title="It" alt="It">More Info</a></p>
    </div>
</div>